<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Edit User</title>
</head>
<body>
	<div align="center">
		<div sec:authorize="isAuthenticated()">
			Welcome <b><span sec:authentication="name">Username</span></b>
			&nbsp;
			<i><span sec:authentication="principal.authorities">Roles</span></i>
		</div>

		<h1>Edit User</h1>
		<br/>
		<form action="#" th:action="@{/users/save}" th:object="${user}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>User ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>User Name:</td>
					<td><input type="text" th:field="*{username}" /></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="text" name="password" id="password" /></td>
				</tr>
				<tr>
					<td>Is ADMIN?:</td>
					<td><input type="checkbox" th:checked="*{admin}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>