<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 1 -->
<head>
    <meta charset="UTF-8">
    <title th:text="#{welcome}"></title> <!-- 2 -->
</head>
<body>
<span th:text="#{hello}"></span><br>
<span th:text="#{welcome}"></span><br>
<button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:8080/?lang=en'"></button> <!-- 3 -->
<button type="button" th:text="#{switch-es}" onclick="window.location.href='http://localhost:8080/?lang=es'"></button>
</body>
</html>